DATABASE_URL=postgresql://postgres:daniel456@localhost:5432/ramistoolx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
MAIL_USER=danieldecr7@gmail.com
# El código de 16 caracteres sin espacios:
MAIL_PASSWORD=lrjizczgsyowbklb 
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
